body {
  text-align: center;
}
h1 {
  display: block;
  margin-top: -200px;
  font-size: 50px;
}
h2 {
  font-weight: 300;
}

.degree {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: blue;
}
.upcomingWeather {
  font-size: 15px;
}

.weatherIcon {
  font-size: 205px;
  color: rgba(167, 219, 240, 0.336);
  display: block;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 45px;
}
.weekDay {
  font-size: 20px;
}
.weatherIcons {
  font-size: 50px;
  margin-top: -20px;
}
.highTemp {
  display: block;
  margin-left: 150px;
}
.lowTemp {
  display: block;
  margin-right: 150px;
}
.changeCity {
  display: block;
  margin-left: 150px;
  margin-top: 5px;
  text-align: center;
}
.submitButton {
  display: block;
  margin-left: 345px;
  margin-top: -30px;
  background-color: rgb(13, 120, 219);
  color: white;
  border-color: rgb(13, 120, 219);
  border-radius: 8px;
}
.currentButton {
  display: block;
  margin-top: -30px;
  margin-left: 10px;
  background-color: rgb(13, 120, 219);
  color: white;
  border-color: rgb(13, 120, 219);
  border-radius: 8px;
}
#city-name::first-letter {
  text-transform: capitalize;
}

.footer {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}
